.header-top {
    border-bottom: 1pt solid black;
}

.header {
    display: inline-block;
    height: 30pt;
    width: 100%;

    text-align: center;
}

.header-dropdown {
    z-index: 10000;
}

.group-item {
    color: white;
    font-weight: bold;
}

.group-item:hover {
    color: lightblue;
    font-weight: bold;
}

.footer {
    margin-top: 5pt;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

li.dropdown:last-child .dropdown-menu {
    right: 0;
    left: auto;
}