.tag-container {
    display: flex;
    justify-content: center;
}

.tag-content {
    margin: 10pt 0pt;
    width: 70%;
}

.tag-title {
    font-weight: bold;
}

.tag-description {
    font-weight: bold;
    color: cornflowerblue;
}

.menu-pub, .secondary-pub {
    cursor: pointer;
}

.menu-pub > div > div > div > h5 {
    background-image: linear-gradient(
      to right,
      #54b3d6,
      #54b3d6 50%,
      #000 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
 }
 
 .menu-pub > div > div > div > h5:before {
    content: '';
    background: #54b3d6;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
 }
 
 .menu-pub:hover > div > div > div > h5 {
    background-position: 0;
 }
 
 .menu-pub:hover > div > div > div > h5:before {
    width: 100%;
 }

div.paging-wrapper {
    height: fit-content;
}

div.paging-wrapper > .pagination-size {
    width: auto;
}

div.paging-wrapper > .pagination-control {
    justify-content: center !important;
    display: flex !important;
    height: fit-content;
}

div.paging-wrapper > .pagination-control > ul {
    margin-bottom: 0 !important;
}

div.paging-wrapper > span.pagination-index {
    height: fit-content; 
    padding: 0.375rem 1rem 0.375rem 1rem; 
    color: #495057;
    border-radius: 5px;
}