<div class="login-container">
    <div class="main">  	
        <div class="signup">
            <form [formGroup]="loginForm">
                <label for="chk" aria-hidden="true">Login</label>
                <div class="md-form" style="text-align: center;">
                    <input mdbInput mdbValidate type="text"  class="form-control" formControlName="username" placeholder="Username">
                    <mdb-error class="input-error" *ngIf="isInvalid('username')" translate>validations.username</mdb-error>
                </div>
                <div class="md-form" style="text-align: center;">
                    <input mdbInput mdbValidate type="text"  class="form-control" formControlName="password" placeholder="Password">
                    <mdb-error class="input-error ml-3" *ngIf="isInvalid('password')" translate>validations.password</mdb-error>
                </div>
            </form>
            <button type="button" class="btn btn-danger mt-5" (click)="login()" [disabled]="!loginForm.valid" translate>
                buttons.login
            </button>
        </div>
    </div>
</div>