<ng-container *ngIf="authService.hasRole('ADMIN')">
  <div class="create-tag-container">
      <div class="create-tag-content m-lg-5">
          <h1 *ngIf="addEditForm.get('id')?.value == null" translate>tags.newTag</h1>
          <h1 *ngIf="addEditForm.get('id')?.value != null" translate>tags.updateTag</h1>
          
          <form [formGroup]="addEditForm" *ngIf="tag$ | async as data">
              <h5 translate>publications.name</h5>
              <div class="md-form">
                <input mdbInput mdbValidate type="text" class="form-control" formControlName="name">
                <mdb-error class="input-error" *ngIf="isInvalid('name')" translate>validations.name</mdb-error>
              </div>

              <h5 class="mt-5" translate>publications.shortText</h5>
              <div class="md-form">
                <input mdbInput mdbValidate type="text" class="form-control" formControlName="description">
                <mdb-error class="input-error" *ngIf="isInvalid('description')" translate>validations.text</mdb-error>
              </div>
          </form>

          <button type="button" class="btn btn-danger mt-5" (click)="save()" [disabled]="!addEditForm.valid" translate>
              buttons.save
          </button>
        
      </div>
  </div>
</ng-container>